body {
	font-family: Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	overflow: hidden;
    height: 100vh;
}

#thumbnails {
	width: 20%;
    height: 100%;
    overflow-y: auto;
}

#results {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.webcam {
	width: 40%;
}

.preview {
	width: 40%;
}

.gg-thumbnail {
	width: 100%;
	img {
		width: 100%;
	}
	position: relative;
    margin-bottom: 0;
}

.close-btn {
    top: 0;
    right: 0;
    position: absolute;
}

.cg-video {

	video {
		width: 100% !important;
		// height: 100% !important;
	}
}

@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-khtml-', '-moz-', '-ms-', '-o-', '') {
		#{$vendor}#{$name}: #{$value};
	}
}

.noselect {
	@include vendor-prefix('user-select', 'none');
	-webkit-touch-callout: none; /* iOS Safari */
}