html {
	background-color: black;
}

body {
	background-color: black;
	overflow: hidden;
	margin: 0;
}


@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-khtml-', '-moz-', '-ms-', '-o-', '') {
		#{$vendor}#{$name}: #{$value};
	}
}

.noselect {
	@include vendor-prefix('user-select', 'none');

	-webkit-touch-callout: none; /* iOS Safari */
}

#results {
	img {
    	display: block;
		width: 100%;
	}
}