html {
  background-color: white;
  overflow-x: auto; }

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: auto;
  background-color: black;
  opacity: 1; }
  body.flash {
    -webkit-animation: flashOpacity 0.25s 1;
    -moz-animation: flashOpacity 0.25s 1;
    -o-animation: flashOpacity 0.25s 1;
    animation: flashOpacity 0.25s 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s; }

@-webkit-keyframes flashOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes flashOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes flashOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flashOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#main-container {
  width: 100%;
  height: 100;
  overflow: auto; }

ul.gg-list {
  max-width: 200px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0; }
  ul.gg-list li.gg-thumbnail {
    list-style-type: none;
    border: 0;
    width: auto;
    position: relative;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: -webkit-grab;
    cursor: -khtml-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: -o-grab;
    cursor: grab; }
    ul.gg-list li.gg-thumbnail .gg-thumbnail-container img {
      width: 100%; }
    ul.gg-list li.gg-thumbnail .gg-selection-rectangle {
      display: none;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 5px solid #cddc39;
      position: absolute;
      top: 0;
      left: 0; }
    ul.gg-list li.gg-thumbnail.gg-selected .gg-selection-rectangle {
      display: block; }

.gg-hidden {
  display: none; }

#result {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0; }
  #result .gg-image-container {
    border: 1px black solid;
    width: 400px;
    height: 300px; }
    #result .gg-image-container img.filtered {
      width: 400px;
      height: 300px; }

#gui {
  width: 250px;
  min-width: 250px;
  height: 100%;
  overflow: auto; }

#outputs {
  width: 200px; }
  #outputs li.gg-thumbnail .gg-thumbnail-container {
    height: 100%; }
  #outputs li.gg-thumbnail .gg-selection-rectangle {
    border-color: #64b5f6; }
  #outputs li.gg-thumbnail.ui-state-default .gg-selection-rectangle {
    display: block;
    border-color: #ff9800; }
  #outputs li.gg-thumbnail.ui-state-hover .gg-selection-rectangle {
    display: block;
    border-color: #4caf50; }

#effect {
  position: relative; }

.gg-padding {
  padding: 55px; }

.gg-column {
  display: flex;
  flex-direction: column; }

.gg-row {
  display: flex;
  flex-direction: row; }

.gg-h100 {
  height: 100%;
  overflow: auto; }

.gg-wrap {
  flex-flow: row wrap;
  overflow-y: auto;
  align-content: flex-start; }

#logo {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  #logo img {
    width: 30%;
    margin-bottom: 10px; }
  #logo h1 {
    color: white;
    font-family: 'Russo One', sans-serif;
    margin-left: 10px; }

#camera {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%; }
  #camera canvas {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: auto; }

#gif-result {
  display: none; }

.gg-grow {
  flex-grow: 1; }

.gg-basis100 {
  flex-basis: 100%; }

.gg-center {
  align-items: center;
  justify-content: center; }

.gg-slider, .slider.slider-horizontal {
  width: 100%; }

.dg.main {
  margin-bottom: 20px; }

#gui .dg.main .close-button.close-bottom {
  position: static; }

button.open-close-btn {
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 0;
  border: 0;
  border-right: 3px solid #2fa1d6;
  cursor: pointer; }
  button.open-close-btn span {
    filter: invert(100%); }
  button.open-close-btn:focus {
    outline: none; }

.list-header {
  color: white;
  display: flex;
  font-size: 10px;
  width: 200px;
  flex-grow: 1; }
  .list-header h4 {
    display: flex;
    flex-grow: 1; }
  .list-header button {
    color: #eee;
    border-radius: 0;
    border: 0;
    border-left: 3px solid #e61d5f;
    display: flex;
    align-self: center;
    background-color: #1a1a1a;
    cursor: pointer;
    margin-right: 4px; }
    .list-header button:focus {
      outline: none; }

.gg-small-btn {
  top: 0;
  right: 0;
  position: absolute;
  border: none;
  border-radius: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  cursor: pointer; }
  .gg-small-btn span {
    position: absolute;
    top: 2px;
    left: -1px; }
  .gg-small-btn.play-btn {
    right: 30px; }
    .gg-small-btn.play-btn.playing {
      background-color: #cddc39; }
  .gg-small-btn.duplicate-btn {
    right: 15px; }
  .gg-small-btn:focus {
    outline: none; }
  .gg-small-btn:active {
    outline: none; }

.nub {
  width: 10px;
  height: 10px;
  border: white 2px solid;
  border-radius: 10px;
  background-color: #64b5f6; }

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */ }

.cr.function .property-name {
  width: 100%; }
