@charset "UTF-8";
body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  margin: 0; }

#thumbnails {
  width: 20%;
  max-width: 200px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto; }
  #thumbnails li {
    list-style-type: none;
    border: 0; }

#results {
  position: relative; }
  #results img {
    position: absolute;
    top: 0;
    left: 0; }

#visualizer {
  width: 40%;
  overflow-y: auto; }

#camera  {
  margin: auto; }

.preview {
  width: 40%; }

.gg-padding {
  padding: 55px; }

.gg-thumbnail {
  width: 100%;
  position: relative;
  margin-bottom: 0; }
  .gg-thumbnail img {
    width: 100%; }

.gg-column {
  display: flex;
  flex-direction: column; }

.gg-slider, .slider.slider-horizontal {
  width: 100%; }

.dg.main .close-button.close-bottom {
  width: 150px; }

.close-btn {
  top: 0;
  right: 0;
  position: absolute;
  border: none;
  border-radius: 0;
  height: 15px;
  width: 15px;
  background-color: white; }

.cg-video video {
  width: 100% !important; }

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */ }
