html {
  background-color: black; }

body {
  background-color: black;
  overflow: hidden;
  margin: 0; }

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */ }

#results img {
  display: block;
  width: 100%; }
